In [1]:
import pandas as pd

friends = pd.read_csv('data/user_user.csv', sep='\t')

friends[(friends.userA=='andreu_vall') | (friends.userB=='andreu_vall')]

                   userA            userB  friends      friendship_date
678993   darktypetrainer      andreu_vall        1  2022-02-15 15:14:00
1085492           lonsao      andreu_vall        1  2018-04-22 16:33:00
1354429  yisus_of_hentai      andreu_vall        1  2018-09-26 04:26:00
2397820      andreu_vall  darktypetrainer        1  2022-02-15 07:03:00
2417098      andreu_vall  yisus_of_hentai        1  2018-09-25 02:07:00
4545275      andreu_vall           lonsao        1  2018-04-22 07:24:00